html {

	line-height: 1.5rem;
	font-size: 16px;
}

* {

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0px auto;
}


body {

	font-family: 'Roboto', sans-serif;
	font-size: inherit;
	line-height: 3rem;	

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-row-gap: 1rem;
	
  background-size: 100%;

	
	margin: 0;
	padding: 0;
}

/*.header_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}*/
.header {
  background-image: url(../img/6_5.jpg);
  background-size: 100%;
}

.header_info {
	display: grid;
  grid-template-columns: repeat(minmax(200px, 1fr));
	color: red;
	justify-content: center;
	font-style: italic;	
	text-shadow: 1px 1px 1px #000000;

}










.pat {
	display: grid;
	justify-content: center;

  /*background-image: url(../img/0_d0af4_4d7a4eda_orig.png);*/
}




.grid{
	display: grid;
	grid-template-columns: 1fr;  
  /*	margin-bottom: 5px;
	grid-gap: 10px;
	padding: 1%;*/ 
}
tt{
  background-image: url(../img/hinh-nen-slide-dep-3_023215415.jpeg);
}
h2 { 
  text-shadow: 1px 1px 1px #000000;
  color: red;
}
.cal {
  background-image: url(../img/windows-8.1-orange-wallpaper-32-for-desktop-background.jpg.png);
  border-radius: 10px;
}
.Photo {
  display: grid;
/* grid-template-rows: 60px 1fr 60px;*/
 grid-template-columns: 20% 1fr 20%;
grid-gap: 2vw;
margin: 10px;

}
/*.Photo > div {
  font-size: 5vw;
  padding: .5em;

  text-align: center;
}*/

/*.auto-fit {grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));}*/





              /*grid1*/

.giv {
  text-align: center;
}


.text {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 10px;
  text-align: center;
  color:
  font-style: italic; 
  text-shadow: 2px;
  font-size: 20px;

}
b{
  color: red;

}

.grid1 {

	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: 50px;

}






                /*grid2*/

/*.photo {
  margin-right: -15px;
  margin-left: -15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}*/

.photo {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2vw;
}

.photo > div {
font-size: 5vw;
padding: .5em;
background: gold;
text-align: center;
}
/*.pata {
  background-image: url(../img/3398175-patterns-blue-white-black.jpg);

}*/






              /*grid3*/ 
/*.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}*/







               /* grid4*/
.pat{
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 10px;
  text-align: center;
  color:
  font-style: italic; 
  text-shadow: 2px;
  font-size: 20px;
}


.slka {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 30px;
  text-align: center;
  color:
  font-style: italic; 
  text-shadow: 20px;
  font-size: 30px;
}

.fon
{
  background-image: url(../img/7dbc0afc28cca81fW9XTVWSNsiyQ1u7v.jpg);
  background-size: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;
}


.slka a {
  border-radius: 10px;
  background: #E8CCB5;
  color: #B05151;
  padding: 15px 30px;
  position: relative;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}
.slka a:before, .eight a:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #F58262;
  box-shadow: inset 0 -2px 0 #B05151;
  opacity: 0;
  transition: .5s ease-in-out;
}
.eight a:before {left: 13px;}
.eight a:after {right: 13px;}
.eight a:hover:before, .eight a:hover:after {opacity: 1;}


                      /* grid5*/
 
.video {
 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

.video1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

                      /* grid6*/


#more{display: none;}
/**/
/*
.demfon{
 background: #F4A460;

}*/






body {
  height: 100%;
/*  font: 14px/24px Arial, Tahoma, sans-serif;*/

}
ol, ul {list-style: none;}
* {
 /* margin: 0;*/
 /* padding: 0;*/
  /*outline: none;*/

/*  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
}

a, a:hover {text-decoration: none;}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.nav,
#touch-menu {
  background: #3e4156;
}
.nav li {float: left;}
.nav li a,
#touch-menu {
  display: block;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
.nav li a:hover,
#touch-menu:hover {
  background: #515572;
}

#touch-menu {display: none;}

@media (max-width: 768px) {
  .nav {display: none;}
  .nav li {float: none;}
  .nav li a {
    border-top: 1px solid #eee;
    border-left: 3px solid transparent;
    background: #fff;
    color: #666;
  }
  .nav li:first-child a {border-top: none;}
  .nav li a:hover {
    background: #f0f0f0;
    color: #444;
    border-left: 3px solid #515572;
  }
  #touch-menu {display: block;}
}



